@{
    ViewData["Title"] = "Đăng nhập hệ thống";
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<!-- Bootstrap Icons -->
<link href="~/css-bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<style type="text/css">
    .loginbox {
        width: 500px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
    }
</style>
<form asp-controller="Account" asp-action="Login" method="post">
    <div class="loginbox">
        <div style="text-align: center; border-bottom: 1px solid #ccc; margin-bottom: 25px;">
            <img src="~/img/logo.svg" style="width: 184px; height: 32px; height: 50px; margin-left: 0;" /><br />
            <span style="font-weight: bold; color: #05428c;">CÔNG TY CỔ PHẦN THÉP HÒA PHÁT</span><br />
            <span style="font-weight: bold; color: #027bb9;">DUNG QUẤT</span><br />
        </div>
        <div class="mb-3">
            <label for="emp_id" class="form-label">Tài khoản <font>(* Nhập mã nhân viên)</font></label>
            <div class="input-group">
                <span class="input-group-text">
                    <i class="bi bi-person-fill"></i>
                </span>
                <input type="text" class="form-control" id="emp_id" name="emp_id" placeholder="Nhập mã nhân viên">
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Mật khẩu <font>(* Nhập Mật khẩu)</font></label>
            <div class="input-group">
                <span class="input-group-text">
                    <i class="bi bi-lock-fill"></i>
                </span>
                <input type="password" class="form-control" id="password" name="password" placeholder="Nhập Mật khẩu">
            </div>
        </div>
        <button type="submit" class="btn btn-primary w-100">Đăng nhập</button>
    </div>
</form>