<link rel="stylesheet" href="~/css/contentlist.css" />
<style type="text/css">
    /* .wrapper {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 140px);
        margin: 0;
    }

    .content {
        flex: 1;
        overflow: auto;
        border: 1px solid #ccc;
        margin-bottom: 10px;
    } */

    /* .footer {
        padding: 0;
        text-align: center;
        border: 1px solid #ccc;
    }

        .footer input[type=text] {
            width: 100%;
            height: 80px;
            margin: 0;
        }

        .footer input[type=button] {
            width: 80px;
            height: 80px;
        }

        .footer input[type=text]:focus {
            border: none;
            outline-color: #a9cce3;
            outline-width: 1px;
        } */

    /* div.contentlist .item {
        margin: 5px;
    } */

    #chatbox .item:not(.reply) {
        margin-right: 100px;
    }
        div.contentlist .item.reply {
            margin-left: 100px;
        }

    .wrapperfooter input[type=text] {
        width: 100%;
        height: 80px;
        margin: 0;
    }

    .wrapperfooter input[type=button] {
        width: 80px;
        height: 80px;
    }

    .wrapperfooter input[type=text]:focus {
        border: none;
        outline-color: #a9cce3;
        outline-width: 1px;
    }

    #chatbox .item:not(:first-child) {
        margin-top: 10px;
    }

    #chatbox .item:not(:last-child) {
        border-bottom: 1px solid #ccc;
    }
</style>
<div class="wrapper" style="min-height: calc(100vh - 100px); display: flex; flex-direction: column;">
    <div id="chatbox" class="content contentlist card" style="flex: 1; overflow: auto; padding: 10px;">
    </div>
    <div class="card wrapperfooter" style="height: 130px; margin-top: 10px; padding: 10px;">
        <div style="text-align: left;">
            <table>
                <tr>
                    <td style="width: 100%; font-weight: bold; text-decoration: underline;">Thông tin phản hồi</td>
                    <td style="white-space: nowrap;"><div id="divattachment" style="display: inline-block; color: red; font-weight: bold;"></div><img id="imgattachment" style="display: none; margin-right: 10px;" src="/img/attachment.png" /></td>
                    <td style="white-space: nowrap; text-decoration: underline; color: #06428B; cursor: pointer;">
                        <span id="lblclose" class="function" style="display: none; margin-right: 20px;">Đóng</span>
                        <span id="lblcomplete" class="function" style="display: none; margin-right: 20px;">Hoàn thành</span>
                        <span id="lblaccept" class="function" style="display: none; margin-right: 20px;">Tiếp nhận</span>
                        <span id="lblattach">Đính kèm</span>
                        <input id="fileinput" type="file" multiple style="display: none;" />
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <table>
                <tr>
                    <td style="width: 100%;">
                        <input id="txtdescription" type="text" />
                    </td>
                    <td style="white-space: nowrap;">
                        <div>
                            <input id="btnconfirm" type="button" value="Gửi" style="background: #2980b9; color: #fff; border: 1px solid #ccc;" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>