@using System.Data
@using static HPDQ.WebSupport.Controllers.HomeController
@{
    ViewData["Title"] = "B치o c치o";
}
@model ReportViewModel
<table>
    <tr>
        <td>
            <form asp-controller="Home" asp-action="Report" method="post">
                <div style="border: 1px solid #ccc; border-radius: 4px; min-height: calc(100vh - 120px); padding: 5px;" id="reportmenu">
                    <table>
                        <tr>
                            <td style="white-space: nowrap;">B치o c치o: </td>
                            <td>
                                <select class="form-select" name="rptType" style="min-width: 180px;">
                                    @if (Model?.ReportTypes != null)
                                    {
                                        foreach (var item in Model.ReportTypes)
                                        {
                                            <option value="@item.Id">@item.Description</option>
                                        }
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: right;">
                                <input type="submit" value="Xem" class="btn btn-primary" />
                            </td>
                        </tr>
                    </table>
                    <div class="reportmenubutton">
                        <i class="bi bi-arrow-bar-left"></i>
                    </div>
                </div>
            </form>
        </td>
        <td>
            <div style="vertical-align: top; min-height: calc(100vh - 120px); padding: 5px;">
                @if (Model?.DataTable != null)
                {
                    <table class="content">
                        <thead>
                            <tr>
                                @foreach(DataColumn column in Model.DataTable.Columns)
                                {
                                    <th>@column.ColumnName</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow row in Model.DataTable.Rows)
                            {
                                <tr>
                                    @foreach(var cell in row.ItemArray)
                                    {
                                        <td>@cell?.ToString()</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </td>
    </tr>
</table>
@section Styles {
    <link rel="stylesheet" href="~/css/table.css" />
    <link rel="stylesheet" href="~/css/report.css" />
}
@section Scripts {
    <script src="~/js/report.js"></script>
}