div.contentlist .item {
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

div.contentlist .item:not(:last-child) {
    margin-bottom: 20px;
}

.card-title {
    background: #7fb3d5;
    /* color: #fff; */
}

.text-container {
    position: relative; /* needed for absolute positioning inside */
    /* padding: 20px; */
    /* background: #f0f0f0; */
    /* width: 300px;
        height: 100px; */
    /* font-size: 16px; */
}

.corner-label {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 12px;
    background: #007bff;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    /*margin-left: 5px;*/
}
.corner-label.disabled {
    background: #E8E8E8;
}
div.contentlist .itemcontainer {
    height: 100px;
    display: inline-block;
}
div.contentlist .itemcontainer img {
    height: 100px;
    float: left;
    cursor: pointer;
}