html {
    font-size: 14px;
    padding: 0;
    margin: 0;
    background: #fff;
}

body {
    margin-bottom: 60px;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/*GiangDNB*/
/* SIDEBAR */
#sidebar {
    width: 250px;
    height: 100vh;
    background-color: #F2F3F6;
    border-right: 1px solid #dee2e6;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
    overflow: hidden;
}
/* Hide sidebar */
#sidebar.collapsed {
    width: 0;
    padding: 0 !important;
    overflow: hidden;
    opacity: 0;
    flex: 0 0 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

/* hightlight active sidebar */
.nav-link.active {
    background-color: #06428B !important;
}
.nav-link:hover {
    background-color: #d0d0d0;
}

.lbversion {
    color: #a8a8a8;
    font-size: 8pt;
    text-align: right;
}

/* MAIN CONTAINER */
.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
/* Full content */
.main.full-width {
    margin-left: 0;
}

/* HEADER */
.header {
    background-color: #339af0;
    color: #ffffff;
    border-bottom: 1px solid #0a58ca;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    font-weight: 600;
    font-size: 1.25rem;
}

/* CONTENT */
.content {
    flex-grow: 1;
    overflow-y: hidden;
    padding: 12px 12px;
    background-color: #fff;
}

/* FOOTER */
.footer {
    background-color: #0b5ed7;
    color: #ffffff;
    border-top: 1px solid #084298;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    text-align: right;
    margin-top: auto;
}

/* logout button */
#logout_btn {
    cursor: pointer;
}
/*GiangDNB*/

#busyindicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    z-index: 9999;
    padding-left: calc(50% - 250px);
    padding-top: 250px;
    background: white;
    user-select: none; /* Ngăn chọn văn bản */
    -webkit-user-select: none; /* Safari/Chrome */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
}

/*Sử dụng chung cho các view*/
.custom-modal-90 {
    width: 90vw; /* 90% of viewport width */
    max-width: 90vw; /* Ensure it doesn't exceed this on larger screens */
    height: 90vh; /* 90% of viewport height */
    margin: 0 auto; /* Center horizontally */
    display: flex; /* For vertical centering of content */
    align-items: center; /* For vertical centering of content */
}
/* Make sure the modal-content also takes up the full height */
.custom-modal-90 .modal-content {
    height: 100%;
}

button.btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
}