table.content {
    width: 100%;
    border-collapse: collapse;
}
table.content tr:first-child {
    background-color: #0b5ed7;
    color: whitesmoke;
    cursor: pointer;
}
table.content tr:nth-child(even) {
  background-color: #E2EAF4;
}
table.content th {
    border: 1px solid #ccc;
    padding: 5px;
}
table.content td {
    border: 1px solid #ccc;
    padding: 2px;
}